<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/cssLogin.css">
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça login<br>Oficina Santos e Cavalcante</h1>
            <img class="left-login-image" src="../assets/images/car.svg" alt="car animation">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                
                  <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário" id="usuario">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha" id="senha">
                </div>
                <button class="btn-login" id="btn-login">Login</button>
                <h4 class="erro" id="erro">Usuário ou senha incorreto</h4>
            </div>

        </div>
    </div>
    <script src="./js/login.js"></script>
</body>
</html>